{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/airplane.jpg') }}">
{% endblock %}

{% block content %}
<div class="formwrapper">
  <div id="myTopnav">
    <a class="link" href="/">Home</a>
    <a class="link active" href="admin">Admin</a>
    <a class="link" href="reservations">Reservations</a>
  </div>
  <h2 class="title">Administrator Login</h2>
  {% if err %}
    <p id="error"><b>{{ err }}</b></p>
  {% endif %}

  
  <div id="chart">
    {% if chart %}
    <p>Printing Seating Chart...</p>
      {% for line in chart %}
      {{ line }}<br/>
    {% endfor %}
    {% endif %}
</div>
{% if total %}
    <p id="total">Total Sales: <b>{{ total }}</b></p>
  {% endif %}
  <form method="POST" action="/admin">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.username.label }} {{ form.username }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      {{ form.login }}
  </form>
  
</div>
{% endblock %}
